/*navigation section*/
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
}
body{
    overflow-x:hidden;
}
.logodesign{
    height:100px;
}
.logo{
    color:#02A696;
}
.navbar{
    background: none;
}
#header{
    background-image: url("component.png");
    height:auto;
    width:100%;
  
    background-size:100% 100%;
}
.jumbotron{
    background:none;
}
nav{
    font-weight: 600;
}

.btncolor{
    background-color:#02A696;
    color:white;
}



.learning{
    color:white;
    margin-top:130px;
 
    
}

.start{
    font-family: 'Montserrat', sans-serif;
    font-weight:bold;
    text-align: center;
    margin-top:80px;
 
}

.start2{
    text-align: center;

}

.buttonsection{
    margin-top:180px;
 
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}




.watchcourse{
    margin-top: 120px;
    /* width: 1750px; */
    position: relative;

  
}
.buttonsection input[type="text"]{
    background:#02A696;
    margin:0;
    width:340px;
    height:50px;
    border:none;
    outline:none;
    padding:0 25px;
    color:white;
    box-sizing: border-box;

    border-radius: 10px 0 0 10px;
}
.buttonsection .Search{
    position:relative;
    left:-15px;
    margin:0;
    width:150px;
    height:50px;
    border:none;
    outline:none;
    color:white;
    cursor:pointer;
    background:#E49C17;
    border-radius:10px;
}






/*navigation end*/


.toggle{
    width:120px;
    height:120px;
    background:#02A696;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index:1000;
    border-radius: 50%;
    cursor:pointer;
    

}



.watch{
    position: relative;
    margin-left:180px;
    top:-40%;
    color:White;
}
i{
    color:White;
}

.signup{
    line-height: 40px;
    width: 100px;
    margin:auto;
}
.middlesection{
    position: relative;
    top:-5%;

}


/*Scroll page*/
.scroll-down {
    height: 50px;
    width: 30px;
 
    border: 2px solid white;
    position: absolute;

    left: 50%;
    bottom: 20px;
    border-radius: 50px;
    cursor: pointer;
  }
  .scroll-down::before,
  .scroll-down::after {
    content: "";
    position: absolute;
    top: 20%;
    left: 50%;
    height: 10px;
    width: 10px;
    transform: translate(-50%, -100%) rotate(45deg);
    border: 2px solid white;
    border-top: transparent;
    border-left: transparent;
    animation: scroll-down 1s ease-in-out infinite;
  }
  .scroll-down::before {
    top: 30%;
    animation-delay: 0.3s;
    /* animation: scroll-down 1s ease-in-out infinite; */
  }
  
  @keyframes scroll-down {
    0% {
      /* top:20%; */
      opacity: 0;
    }
    30% {
      opacity: 1;
    }
    60% {
      opacity: 1;
    }
    100% {
      top: 90%;
      opacity: 0;
    }
  }


/*scroll page end*/


/*members*/
.elon{
    height:300px;
}
.elon2{
    height:230px;
}

#course{
    margin-top: 120px;
}
#education{
    background-image: url("Group 14.png");
    background-size:Cover;
    color:White;

    width:100%;
    height:auto;
    margin:100px 0;
}

.middlepage{
    position: relative;
    top:-10%;


}


.threedot{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 80px;
    
}
.toggle2{
   margin:10px;
    width:20px;
    height:20px;
    background:#02A696;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index:1000;
    border-radius: 50%;
    cursor:pointer;
    opacity:0.3;
}
.toggle3{
    margin:10px;
    width:20px;
    height:20px;
    background:#02A696;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index:1000;
    border-radius: 50%;
    cursor:pointer;
    
}

/*members end*/

/*contact form*/

.contact-form{
    width: 43%;
    margin: 1%;
    padding: 2%;
   
    background-color: white;
    border-radius: 15px;
}
.contact-form input[type=text], select, textarea{
    width: 70%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}
.contact-form input[type=submit]{
    background-color: blue;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
.contact-form input[type=submit]:hover{
    background-color: rgb(61, 61, 112);
}
.formleft{
    background: linear-gradient(rgba(0,168,255,0.3),rgba(0,168,255,0.3)),url(office.png);
    background-size:cover;
    height:500px;
    position: relative;
    padding:100px;
    font-weight: bold;

}

.formleft::after{
    background: red;
    opacity:0.6;
}
.googlemap{
    margin-top:120px;
}
.formleft:before{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    color: #FFF;
    
    background-size:cover;
}

.formleft:hover .after {
    display: block;
    background: rgba(0, 0, 0, .6);
}
/*contact form end*/

/*foot*/
.foo{
    margin-top: 40px;
}
.foot{
    background:#02A696;
    height:auto;
    padding:40px;
    color:White;
}
.text{
    width:700px;
    text-align: center;
   
}
.important{
    text-align: center;
    font-weight: bold;
}

.footertextbox{
    margin-top:180px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}



.footertextbox input[type="text"]{
    background:#ffffff;
    margin:0;
    width:340px;
    height:60px;
    border:none;
    outline:none;
    padding:0 25px;
    color:black;
    box-sizing: border-box;

   
}
.footertextbox .Search{
    position:relative;
    left:-15px;
    margin:0;
    width:150px;
    height:60px;
    border:none;
    outline:none;
    color:white;
    cursor:pointer;
    background:#E49C17;
   
}
/*foot end*/


.card-img-top::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-size: cover!important;
    
    background: url("rectangle.png");


    
  }

  @media(max-width:768px){
      .nav-item{
          text-align: center !important;
      }
  }



  @media (min-width:576px){
  
  }

  @media (min-width:768px){

  }


  @media (min-width:992px){
    

  }


  @media (min-width:1200px){
 
  }